.footer {
  width: 100%;
  bottom: 0;
  color: black;
  padding: 10px 0 30px;
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 80px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.col ul {
  padding: 0;
}

.col ul li {
  list-style: none;
  margin-bottom: 12px;
}

.icon {
  width: 40px !important;
  height: 40px !important;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #bebebec2;
}

.copyright {
  text-align: center;
}

@media (max-width: 700px) {
  .col h3 {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .col {
    flex-basis: 100%;
    text-align: center;
  }

  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 100%;
  }
}
