.container {
  min-height: 80vh;
  position: relative;
}

.backgroundImage {
  background-image: url('../assets/Decore.svg');
  background-repeat: no-repeat;
  background-position: right;
  min-height: 60rem;
  position: absolute;
  top: -20rem;
  right: -5rem;
  left: 0;
}

.backgroundContactImage{
  background-image: url('../assets/contact/Decore.svg');
  background-repeat: no-repeat;
  background-position: right;
  min-height: 60rem;
  position: absolute;
  top: -20rem;
  right: -5rem;
  left: 0;
}

.text {
  position: absolute;
  top: 10rem;
  left: 5rem;
  right: 5rem;
}


.text p {
  margin: 0;
  max-width: 40rem;
}

.textAboveButton{
  margin-bottom: 2rem !important;

}

@media screen and (max-width: 480px) {
  .textImage {
    top: 2rem;
  }
}
