.container {
  text-align: center;
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
  margin: 0 auto;
  width: 50vw;
}

@media (max-width: 700px) {
  .container {
    text-align: center;
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
    margin: 0 auto;
    width: 90vw;
  }
}
