.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
  text-align: center;
}

.grid_item {
  margin-top: 5rem;
  padding: 20px;
}

.grid_item img {
  border-radius: 24px;
}

@media (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }

  .container h2 {
    padding: 2rem;
  }

  .grid_item h2 {
    margin-top: 5rem;
  }

  .grid_item {
    padding: 0;
  }
}
